In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
from numpy.random import seed
seed(1)

In [3]:
df = pd.read_csv('casino_crime.csv')
df.head()

,Id,Year,State,Countym,Industry,Suspicious Activity,Count,Lat,Long
0,0,2014,Arizona,Coconino County,Tribal Authorized Casino,Alters or Cancels Transaction to Avoid CTR Req...,1,35.829692,-111.773728
1,1,2014,Arizona,Coconino County,Tribal Authorized Casino,Exchanges Small Bills for Large Bills or Vice ...,1,35.829692,-111.773728
2,2,2014,Arizona,Coconino County,Tribal Authorized Casino,Other Structuring,1,35.829692,-111.773728
3,3,2014,Arizona,Coconino County,Tribal Authorized Casino,Provided Questionable or False Documentation,1,35.829692,-111.773728
4,4,2016,Arizona,Coconino County,Tribal Authorized Casino,Account Takeover,1,35.829692,-111.773728

In [4]:
df['Count'] = df['Count'].str.replace(',', '').astype(float).astype(int)

In [5]:
data = df[['State', 'Countym','Industry', 'Suspicious Activity', 'Count']]

data.head()

,State,Countym,Industry,Suspicious Activity,Count
0,Arizona,Coconino County,Tribal Authorized Casino,Alters or Cancels Transaction to Avoid CTR Req...,1
1,Arizona,Coconino County,Tribal Authorized Casino,Exchanges Small Bills for Large Bills or Vice ...,1
2,Arizona,Coconino County,Tribal Authorized Casino,Other Structuring,1
3,Arizona,Coconino County,Tribal Authorized Casino,Provided Questionable or False Documentation,1
4,Arizona,Coconino County,Tribal Authorized Casino,Account Takeover,1

In [6]:
# data['Suspicious Activity'].unique()

In [7]:
activity = data.groupby(['Suspicious Activity', 'State', 'Countym','Industry'])['Count'].sum().reset_index()
activity.dtypes

Suspicious Activity    object
State                  object
Countym                object
Industry               object
Count                   int64
dtype: object

In [8]:
activity.head()

,Suspicious Activity,State,Countym,Industry,Count
0,ACH,California,Kings County,Tribal Authorized Casino,4
1,ACH,California,Los Angeles County,Card Club,1
2,ACH,California,Riverside County,Tribal Authorized Casino,2
3,ACH,California,San Diego County,Tribal Authorized Casino,19
4,ACH,California,San Joaquin County,Card Club,1

In [9]:
# activity['Suspicious Activity'].value_counts()

In [10]:
# activity['Suspicious Activity'] = activity['Suspicious Activity'].replace(
#     {'Other Other Suspicious Activities': 'Diff Suspicious Activities'})

In [11]:
# activity['Suspicious Activity'].value_counts()

In [12]:
activity = pd.get_dummies(activity, columns=['State', 'Countym', 'Suspicious Activity'])
activity.head()

,Industry,Count,State_Arizona,State_California,State_Colorado,State_Nevada,State_New Mexico,State_Utah,Countym_Adams County,Countym_Alameda County,...,Suspicious Activity_Transaction Out of Pattern for Customer(s),"Suspicious Activity_Transaction with No Apparent Economic, Business, or Lawful Purpose",Suspicious Activity_Transaction(s) Below BSA Recordkeeping Threshold,Suspicious Activity_Transaction(s) Below CTR Threshold,Suspicious Activity_Transaction(s) Involving Foreign High Risk Jurisdiction,Suspicious Activity_Two or More Individuals Working Together,Suspicious Activity_Unauthorized Electronic Intrusion,Suspicious Activity_Unknown Source of Chips,Suspicious Activity_Unlicensed or Unregistered MSB,Suspicious Activity_Wire
0,Tribal Authorized Casino,4,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Card Club,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Tribal Authorized Casino,2,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Tribal Authorized Casino,19,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Card Club,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Data Pre-Processing

In [13]:
X = activity.drop(columns = ['Industry'])
y = activity['Industry'].values.reshape(-1, 1)
print(X.shape, y.shape)

(2749, 199) (2749, 1)

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [15]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

In [16]:
# y_test

In [17]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [19]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

# Create a Deep Learning Model

In [20]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [21]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=1000, activation='relu', input_dim=199))
model.add(Dense(units=600, activation='relu'))
model.add(Dense(units=4, activation='softmax'))

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [22]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [23]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1000)              200000
_________________________________________________________________
dense_1 (Dense)              (None, 600)               600600
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 2404
=================================================================
Total params: 803,004
Trainable params: 803,004
Non-trainable params: 0
_________________________________________________________________

In [24]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

Epoch 1/60
2061/2061 - 1s - loss: 0.6573 - acc: 0.7448
Epoch 2/60
2061/2061 - 1s - loss: 0.4274 - acc: 0.8176
Epoch 3/60
2061/2061 - 1s - loss: 0.3675 - acc: 0.8365
Epoch 4/60
2061/2061 - 1s - loss: 0.3330 - acc: 0.8375
Epoch 5/60
2061/2061 - 1s - loss: 0.3144 - acc: 0.8467
Epoch 6/60
2061/2061 - 1s - loss: 0.2927 - acc: 0.8540
Epoch 7/60
2061/2061 - 1s - loss: 0.2732 - acc: 0.8535
Epoch 8/60
2061/2061 - 1s - loss: 0.2583 - acc: 0.8559
Epoch 9/60
2061/2061 - 1s - loss: 0.2474 - acc: 0.8549
Epoch 10/60
2061/2061 - 1s - loss: 0.2366 - acc: 0.8671
Epoch 11/60
2061/2061 - 1s - loss: 0.2318 - acc: 0.8763
Epoch 12/60
2061/2061 - 1s - loss: 0.2303 - acc: 0.8588
Epoch 13/60
2061/2061 - 1s - loss: 0.2162 - acc: 0.8603
Epoch 14/60
2061/2061 - 1s - loss: 0.2102 - acc: 0.8612
Epoch 15/60
2061/2061 - 1s - loss: 0.2109 - acc: 0.8700
Epoch 16/60
2061/2061 - 1s - loss: 0.2048 - acc: 0.8680
Epoch 17/60
2061/2061 - 1s - loss: 0.1977 - acc: 0.8617
Epoch 18/60
2061/2061 - 1s - loss: 0.1963 - acc: 0.8666
Epoch 19/60
2061/2061 - 1s - loss: 0.1906 - acc: 0.8680
Epoch 20/60
2061/2061 - 1s - loss: 0.1889 - acc: 0.8646
Epoch 21/60
2061/2061 - 1s - loss: 0.1834 - acc: 0.8753
Epoch 22/60
2061/2061 - 1s - loss: 0.1824 - acc: 0.8646
Epoch 23/60
2061/2061 - 1s - loss: 0.1797 - acc: 0.8787
Epoch 24/60
2061/2061 - 1s - loss: 0.1790 - acc: 0.8811
Epoch 25/60
2061/2061 - 1s - loss: 0.1795 - acc: 0.8802
Epoch 26/60
2061/2061 - 1s - loss: 0.1752 - acc: 0.8758
Epoch 27/60
2061/2061 - 1s - loss: 0.1728 - acc: 0.8748
Epoch 28/60
2061/2061 - 1s - loss: 0.1733 - acc: 0.8714
Epoch 29/60
2061/2061 - 1s - loss: 0.1699 - acc: 0.8758
Epoch 30/60
2061/2061 - 1s - loss: 0.1712 - acc: 0.8782
Epoch 31/60
2061/2061 - 1s - loss: 0.1695 - acc: 0.8748
Epoch 32/60
2061/2061 - 1s - loss: 0.1684 - acc: 0.8855
Epoch 33/60
2061/2061 - 1s - loss: 0.1693 - acc: 0.8748
Epoch 34/60
2061/2061 - 1s - loss: 0.1677 - acc: 0.8850
Epoch 35/60
2061/2061 - 1s - loss: 0.1669 - acc: 0.8816
Epoch 36/60
2061/2061 - 1s - loss: 0.1661 - acc: 0.8826
Epoch 37/60
2061/2061 - 1s - loss: 0.1644 - acc: 0.8816
Epoch 38/60
2061/2061 - 1s - loss: 0.1652 - acc: 0.8821
Epoch 39/60
2061/2061 - 1s - loss: 0.1641 - acc: 0.8753
Epoch 40/60
2061/2061 - 1s - loss: 0.1655 - acc: 0.8802
Epoch 41/60
2061/2061 - 2s - loss: 0.1649 - acc: 0.8845
Epoch 42/60
2061/2061 - 1s - loss: 0.1690 - acc: 0.8874
Epoch 43/60
2061/2061 - 1s - loss: 0.1654 - acc: 0.8806
Epoch 44/60
2061/2061 - 1s - loss: 0.1627 - acc: 0.8879
Epoch 45/60
2061/2061 - 1s - loss: 0.1661 - acc: 0.8753
Epoch 46/60
2061/2061 - 1s - loss: 0.1660 - acc: 0.8802
Epoch 47/60
2061/2061 - 1s - loss: 0.1618 - acc: 0.8884
Epoch 48/60
2061/2061 - 1s - loss: 0.1667 - acc: 0.8840
Epoch 49/60
2061/2061 - 1s - loss: 0.1630 - acc: 0.8850
Epoch 50/60
2061/2061 - 1s - loss: 0.1612 - acc: 0.8802
Epoch 51/60
2061/2061 - 1s - loss: 0.1579 - acc: 0.8913
Epoch 52/60
2061/2061 - 1s - loss: 0.1608 - acc: 0.8903
Epoch 53/60
2061/2061 - 1s - loss: 0.1622 - acc: 0.8826
Epoch 54/60
2061/2061 - 1s - loss: 0.1631 - acc: 0.8831
Epoch 55/60
2061/2061 - 1s - loss: 0.1615 - acc: 0.8894
Epoch 56/60
2061/2061 - 1s - loss: 0.1583 - acc: 0.8831
Epoch 57/60
2061/2061 - 1s - loss: 0.1590 - acc: 0.8937
Epoch 58/60
2061/2061 - 1s - loss: 0.1583 - acc: 0.8908
Epoch 59/60
2061/2061 - 1s - loss: 0.1560 - acc: 0.8942
Epoch 60/60
2061/2061 - 1s - loss: 0.1569 - acc: 0.8908

# Quantify our Trained Model

In [25]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=1)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

688/688 [==============================] - 0s 288us/sample - loss: 1.6489 - acc: 0.7456
Normal Neural Network - Loss: 1.6489346831343894, Accuracy: 0.7456395626068115

In [31]:
y_pred = model.predict(X_test_scaled)
#Converting predictions to label
pred = list()
for i in range(len(y_pred)):
    pred.append(np.argmax(y_pred[i]))
#Converting one hot encoded test label to label
test = list()
for i in range(len(y_test_categorical)):
    test.append(np.argmax(y_test_categorical[i]))

In [32]:
from sklearn.metrics import accuracy_score
a = accuracy_score(pred,test)
print('Accuracy is:', a*100)

Accuracy is: 74.56395348837209

# Make Predictions

In [28]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [29]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:4])}")

Predicted classes: [' Card Club' ' Tribal Authorized Casino' ' Tribal Authorized Casino'
 ' State Licensed Casino' ' Card Club']
Actual Labels: [array([' Card Club'], dtype=object), array([' Tribal Authorized Casino'], dtype=object), array([' Tribal Authorized Casino'], dtype=object), array([' Tribal Authorized Casino'], dtype=object)]