In [2]:
# Dependencies
import pandas as pd

In [3]:
sarstats = pd.read_csv('data/SARStats_casino.csv')
sw_countyloc = pd.read_csv('data/SW_countyloc.csv')
sarstats.head()

,Year Month,State,Countym,Industry,Suspicious Activity,Count
0,2014,Arizona,"Coconino County, AZ",Casino/Card Club - Tribal Authorized Casino,Alters or Cancels Transaction to Avoid CTR Req...,1
1,2014,Arizona,"Coconino County, AZ",Casino/Card Club - Tribal Authorized Casino,Exchanges Small Bills for Large Bills or Vice ...,1
2,2014,Arizona,"Coconino County, AZ",Casino/Card Club - Tribal Authorized Casino,Other Structuring,1
3,2014,Arizona,"Coconino County, AZ",Casino/Card Club - Tribal Authorized Casino,Provided Questionable or False Documentation,1
4,2014,Arizona,"Coconino County, AZ",Casino/Card Club - Tribal Authorized Casino,[Total],4

In [4]:
sarstats.count()

Year Month             9317
State                  9317
Countym                9317
Industry               9317
Suspicious Activity    9317
Count                  9317
dtype: int64

In [5]:
sarstats.drop(sarstats.loc[sarstats['Suspicious Activity']=='[Total]'].index, inplace=True)
sarstats.drop(sarstats.loc[sarstats['Year Month']== '2020'].index, inplace=True)
sarstats.rename(columns={"Year Month": "Year"}, inplace=True)
sarstats['Industry'] = sarstats['Industry'].str.split('\-+').str[1]

sarstats.head()

,Year,State,Countym,Industry,Suspicious Activity,Count
0,2014,Arizona,"Coconino County, AZ",Tribal Authorized Casino,Alters or Cancels Transaction to Avoid CTR Req...,1
1,2014,Arizona,"Coconino County, AZ",Tribal Authorized Casino,Exchanges Small Bills for Large Bills or Vice ...,1
2,2014,Arizona,"Coconino County, AZ",Tribal Authorized Casino,Other Structuring,1
3,2014,Arizona,"Coconino County, AZ",Tribal Authorized Casino,Provided Questionable or False Documentation,1
6,2014,Arizona,"Maricopa County, AZ",Tribal Authorized Casino,Account Takeover,11

In [6]:
sarstats.count()

Year                   7269
State                  7269
Countym                7269
Industry               7268
Suspicious Activity    7269
Count                  7269
dtype: int64

In [8]:
act_county = sarstats.groupby([ 'Industry', 'Suspicious Activity', 'State', 'Countym'])['Count'].count().reset_index()
act_county.head()

     Industry Suspicious Activity       State                  Countym  Count
0   Card Club                 ACH  California   Los Angeles County, CA      1
1   Card Club                 ACH  California   San Joaquin County, CA      1
2   Card Club    Account Takeover  California  Contra Costa County, CA      1
3   Card Club    Account Takeover  California          Kern County, CA      1
4   Card Club    Account Takeover  California     San Diego County, CA      1

In [7]:
act_county['Count'] = act_county['Count'].astype(int)

In [8]:
act_county['Count'].max()

16

In [9]:
top_act = act_county.sort_values(by=['Count'], ascending=False)
top_act.head()

,Suspicious Activity,State,Countym,Count
117,Alters or Cancels Transaction to Avoid CTR Req...,California,"San Diego County, CA",16
1424,Refused or Avoided Request for Documentation,California,"San Diego County, CA",16
2155,Transaction(s) Below CTR Threshold,California,"San Diego County, CA",15
58,Alters or Cancels Transaction to Avoid BSA Rec...,California,"San Diego County, CA",15
1706,Suspicious Inquiry by Customer Regarding Bsa R...,California,"San Diego County, CA",14

In [10]:
top_act.count()

Suspicious Activity    2382
State                  2382
Countym                2382
Count                  2382
dtype: int64

In [11]:
act_state = sarstats.groupby(['Suspicious Activity','State'])['Count'].count().reset_index()
act_state.head()

  Suspicious Activity       State  Count
0                 ACH  California      9
1                 ACH      Nevada      6
2                 ACH  New Mexico      2
3    Account Takeover     Arizona      7
4    Account Takeover  California     15

In [12]:
act_state.count()

Suspicious Activity    326
State                  326
Count                  326
dtype: int64

In [13]:
top_act_state = act_state.sort_values(by=['Count'], ascending=False)
top_act_state.head()

                                   Suspicious Activity       State  Count
295                 Transaction(s) Below CTR Threshold  California    203
194       Refused or Avoided Request for Documentation  California    196
17   Alters or Cancels Transaction to Avoid CTR Req...  California    192
304           Two or More Individuals Working Together  California    188
113             Minimal Gaming with Large Transactions  California    182

In [13]:
sw_countyloc.head()

,USPS,GEOID,ANSICODE,NAME,Countym,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,AZ,4001,25441,Apache County,"Apache County, AZ",29002035366,54153162,11197.749,20.909,35.385084,-109.490172
1,AZ,4003,25442,Cochise County,"Cochise County, AZ",16083174724,17667961,6209.749,6.822,31.840129,-109.775163
2,AZ,4005,25443,Coconino County,"Coconino County, AZ",48217246133,116631412,18616.784,45.032,35.829692,-111.773728
3,AZ,4007,40471,Gila County,"Gila County, AZ",12323152721,97113523,4757.996,37.496,33.789618,-110.811870
4,AZ,4009,25444,Graham County,"Graham County, AZ",11970605964,47476264,4621.877,18.331,32.931828,-109.878310

In [14]:
sw_countyloc.drop(['GEOID', 'ANSICODE', 'NAME', 'ALAND', 'AWATER', 'ALAND_SQMI', 'AWATER_SQMI'], axis=1, inplace=True)
sw_county=sw_countyloc.rename(columns={"NAME":"Countym", "INTPTLAT":"Lat", "INTPTLONG                                                                                                               ":"Long" })
sw_county.head()

  USPS              Countym        Lat        Long
0   AZ    Apache County, AZ  35.385084 -109.490172
1   AZ   Cochise County, AZ  31.840129 -109.775163
2   AZ  Coconino County, AZ  35.829692 -111.773728
3   AZ      Gila County, AZ  33.789618 -110.811870
4   AZ    Graham County, AZ  32.931828 -109.878310

In [16]:
# top_act_county = pd.merge(top_act, sw_county, on='Countym', how='inner')
# top_act_county.head()

In [17]:
# del top_act_county['USPS']
# top_act_county['Countym'] = top_act_county['Countym'].str.split('\,+').str[0]
# top_act_county.head()

In [18]:
# from sqlalchemy import create_engine
# engine = create_engine('sqlite:///SW_fincrime_db', echo=False)
# sqlite_connection = engine.connect()

In [19]:
# sqlite_table = "topActivityCounty"
# top_act_county.to_sql(sqlite_table, sqlite_connection, if_exists='replace')

In [9]:
# engine.execute("SELECT * FROM topActivityState").fetchall()

In [20]:
# sqlite_table = "topActivityState"
# top_act_state.to_sql(sqlite_table, sqlite_connection, if_exists='replace')

In [21]:
# engine.execute("SELECT * FROM topActivityState").fetchall()

In [22]:
# sqlite_connection.close()

In [23]:
sarstats.head()

,Year,State,Countym,Industry,Suspicious Activity,Count
0,2014,Arizona,"Coconino County, AZ",Tribal Authorized Casino,Alters or Cancels Transaction to Avoid CTR Req...,1
1,2014,Arizona,"Coconino County, AZ",Tribal Authorized Casino,Exchanges Small Bills for Large Bills or Vice ...,1
2,2014,Arizona,"Coconino County, AZ",Tribal Authorized Casino,Other Structuring,1
3,2014,Arizona,"Coconino County, AZ",Tribal Authorized Casino,Provided Questionable or False Documentation,1
6,2014,Arizona,"Maricopa County, AZ",Tribal Authorized Casino,Account Takeover,11

In [25]:
del sw_county['USPS']
sw_county.head()

               Countym        Lat        Long
0    Apache County, AZ  35.385084 -109.490172
1   Cochise County, AZ  31.840129 -109.775163
2  Coconino County, AZ  35.829692 -111.773728
3      Gila County, AZ  33.789618 -110.811870
4    Graham County, AZ  32.931828 -109.878310

In [35]:
casino_crime = pd.merge(sarstats, sw_county, on = 'Countym', how = 'inner' )
casino_crime['Countym'] = casino_crime['Countym'].str.split('\,+').str[0]
casino_crime.set_index('State', inplace = True)
casino_crime.head()

,Year,Countym,Industry,Suspicious Activity,Count,Lat,Long
State,,,,,,,
Arizona,2014,Coconino County,Tribal Authorized Casino,Alters or Cancels Transaction to Avoid CTR Req...,1,35.829692,-111.773728
Arizona,2014,Coconino County,Tribal Authorized Casino,Exchanges Small Bills for Large Bills or Vice ...,1,35.829692,-111.773728
Arizona,2014,Coconino County,Tribal Authorized Casino,Other Structuring,1,35.829692,-111.773728
Arizona,2014,Coconino County,Tribal Authorized Casino,Provided Questionable or False Documentation,1,35.829692,-111.773728
Arizona,2016,Coconino County,Tribal Authorized Casino,Account Takeover,1,35.829692,-111.773728

In [63]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from datetime import datetime

In [81]:
engine = create_engine('sqlite:///data/Casino.sqlite', echo=False)
sqlite_connection = engine.connect()

In [82]:
sqlite_table = "casinoSW"
casino_crime.to_sql(sqlite_table, sqlite_connection, if_exists='replace')

In [83]:
 engine.execute("SELECT * FROM casinoSW LIMIT 5").fetchall()

[('Arizona', '2014', 'Coconino County', ' Tribal Authorized Casino', 'Alters or Cancels Transaction to Avoid CTR Requirement', '1', 35.829692, -111.773728),
 ('Arizona', '2014', 'Coconino County', ' Tribal Authorized Casino', 'Exchanges Small Bills for Large Bills or Vice Versa', '1', 35.829692, -111.773728),
 ('Arizona', '2014', 'Coconino County', ' Tribal Authorized Casino', 'Other Structuring', '1', 35.829692, -111.773728),
 ('Arizona', '2014', 'Coconino County', ' Tribal Authorized Casino', 'Provided Questionable or False Documentation', '1', 35.829692, -111.773728),
 ('Arizona', '2016', 'Coconino County', ' Tribal Authorized Casino', 'Account Takeover', '1', 35.829692, -111.773728)]

In [84]:
inspector = inspect(engine)
columns = inspector.get_columns('casinoSW')
print(columns)

[{'name': 'State', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Year', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Countym', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Industry', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Suspicious Activity', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Count', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Lat', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Long', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}]

In [85]:
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [86]:
# Base.classes.keys()

[]