In [1]:
# Dependencies
import pandas as pd

In [2]:
sw_casinos = pd.read_csv('data/SW_Casinos_SARStats.csv')
sw_countyloc = pd.read_csv('data/SW_countyloc.csv')
sw_casinos.head()

,Year Month,State,Countym,Industry,Suspicious Activity,Count
0,2014,Arizona,"Yavapai County, AZ",Casino/Card Club - State Licensed Casino,Alters or Cancels Transaction to Avoid CTR Req...,1
1,2014,Arizona,"Yavapai County, AZ",Casino/Card Club - State Licensed Casino,Changes Spelling or Arrangement of Name,1
2,2014,Arizona,"Yavapai County, AZ",Casino/Card Club - State Licensed Casino,Credit/Debit Card,1
3,2014,Arizona,"Yavapai County, AZ",Casino/Card Club - State Licensed Casino,Exchanges Small Bills for Large Bills or Vice ...,1
4,2014,Arizona,"Yavapai County, AZ",Casino/Card Club - State Licensed Casino,Minimal Gaming with Large Transactions,1

In [3]:
sw_casinos.dtypes

Year Month             object
State                  object
Countym                object
Industry               object
Suspicious Activity    object
Count                  object
dtype: object

In [4]:
sw_casinos['Countym'] = sw_casinos['Countym'].str.split('\,+').str[0]
sw_casinos['Industry'] = sw_casinos['Industry'].str.split('\-+').str[1]

sw_casinos.head()

,Year Month,State,Countym,Industry,Suspicious Activity,Count
0,2014,Arizona,Yavapai County,State Licensed Casino,Alters or Cancels Transaction to Avoid CTR Req...,1
1,2014,Arizona,Yavapai County,State Licensed Casino,Changes Spelling or Arrangement of Name,1
2,2014,Arizona,Yavapai County,State Licensed Casino,Credit/Debit Card,1
3,2014,Arizona,Yavapai County,State Licensed Casino,Exchanges Small Bills for Large Bills or Vice ...,1
4,2014,Arizona,Yavapai County,State Licensed Casino,Minimal Gaming with Large Transactions,1

In [6]:
sw_casinos.drop(sw_casinos.loc[sw_casinos['Suspicious Activity']=='[Total]'].index, inplace=True)
sw_casinos.drop(sw_casinos.loc[sw_casinos['Year Month']== '2020'].index, inplace=True)
del sw_casinos['Suspicious Activity']
sw_casinos.head()

  Year Month    State         Countym                Industry Count
0       2014  Arizona  Yavapai County   State Licensed Casino     1
1       2014  Arizona  Yavapai County   State Licensed Casino     1
2       2014  Arizona  Yavapai County   State Licensed Casino     1
3       2014  Arizona  Yavapai County   State Licensed Casino     1
4       2014  Arizona  Yavapai County   State Licensed Casino     1

In [7]:
sw_casinos.count()

Year Month    1548
State         1548
Countym       1548
Industry      1548
Count         1548
dtype: int64

In [8]:
sw_countyloc.head()

,USPS,GEOID,ANSICODE,NAME,Countym,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,AZ,4001,25441,Apache County,"Apache County, AZ",29002035366,54153162,11197.749,20.909,35.385084,-109.490172
1,AZ,4003,25442,Cochise County,"Cochise County, AZ",16083174724,17667961,6209.749,6.822,31.840129,-109.775163
2,AZ,4005,25443,Coconino County,"Coconino County, AZ",48217246133,116631412,18616.784,45.032,35.829692,-111.773728
3,AZ,4007,40471,Gila County,"Gila County, AZ",12323152721,97113523,4757.996,37.496,33.789618,-110.811870
4,AZ,4009,25444,Graham County,"Graham County, AZ",11970605964,47476264,4621.877,18.331,32.931828,-109.878310

In [9]:
sw_countyloc.dtypes

USPS                                                                                                                         object
GEOID                                                                                                                         int64
ANSICODE                                                                                                                      int64
NAME                                                                                                                         object
Countym                                                                                                                      object
ALAND                                                                                                                         int64
AWATER                                                                                                                        int64
ALAND_SQMI                                                                                                                  float64
AWATER_SQMI                                                                                                                 float64
INTPTLAT                                                                                                                    float64
INTPTLONG                                                                                                                   float64
dtype: object

In [10]:
sw_countyloc.drop(['GEOID', 'ANSICODE', 'Countym', 'ALAND', 'AWATER', 'ALAND_SQMI', 'AWATER_SQMI'], axis=1, inplace=True)

sw_countyloc.head()

,USPS,NAME,INTPTLAT,INTPTLONG
0,AZ,Apache County,35.385084,-109.490172
1,AZ,Cochise County,31.840129,-109.775163
2,AZ,Coconino County,35.829692,-111.773728
3,AZ,Gila County,33.789618,-110.811870
4,AZ,Graham County,32.931828,-109.878310

In [13]:
sw_countyloc.columns

Index(['USPS', 'NAME', 'INTPTLAT',
       'INTPTLONG                                                                                                               '],
      dtype='object')

In [14]:
sw_county = sw_countyloc.rename(columns={"NAME":"Countym", "INTPTLAT":"Lat", "INTPTLONG                                                                                                               ":"Long" })

sw_county.head()

  USPS          Countym        Lat        Long
0   AZ    Apache County  35.385084 -109.490172
1   AZ   Cochise County  31.840129 -109.775163
2   AZ  Coconino County  35.829692 -111.773728
3   AZ      Gila County  33.789618 -110.811870
4   AZ    Graham County  32.931828 -109.878310

In [15]:
sw_fincrime = pd.merge(sw_casinos, sw_county, on="Countym", how= "inner")
sw_fincrime.head()

,Year Month,State,Countym,Industry,Count,USPS,Lat,Long
0,2014,Arizona,Yavapai County,State Licensed Casino,1,AZ,34.631071,-112.577225
1,2014,Arizona,Yavapai County,State Licensed Casino,1,AZ,34.631071,-112.577225
2,2014,Arizona,Yavapai County,State Licensed Casino,1,AZ,34.631071,-112.577225
3,2014,Arizona,Yavapai County,State Licensed Casino,1,AZ,34.631071,-112.577225
4,2014,Arizona,Yavapai County,State Licensed Casino,1,AZ,34.631071,-112.577225

In [16]:

sw_fincrime['Count'] = sw_fincrime['Count'].str.replace(',', '').astype(float).astype(int)

In [17]:
del sw_fincrime['USPS']
sw_fincrime.rename(columns={"Year Month": "Year"}, inplace=True)
sw_fincrime.head()

,Year,State,Countym,Industry,Count,Lat,Long
0,2014,Arizona,Yavapai County,State Licensed Casino,1,34.631071,-112.577225
1,2014,Arizona,Yavapai County,State Licensed Casino,1,34.631071,-112.577225
2,2014,Arizona,Yavapai County,State Licensed Casino,1,34.631071,-112.577225
3,2014,Arizona,Yavapai County,State Licensed Casino,1,34.631071,-112.577225
4,2014,Arizona,Yavapai County,State Licensed Casino,1,34.631071,-112.577225

In [19]:
licensed_df = sw_fincrime.groupby(['State', 'Year', 'Countym', 'Lat', 'Long'])['Count'].sum()
licensed_df

State       Year  Countym         Lat        Long
Arizona     2014  Yavapai County  34.631071  -112.577225    14
            2015  Yavapai County  34.631071  -112.577225     8
            2016  Yavapai County  34.631071  -112.577225     2
            2018  Yuma County     32.773942  -113.910905     2
                                  40.000770  -102.421649     2
                                                            ..
New Mexico  2018  Lincoln County  38.993740  -103.507555     2
            2019  Lea County      32.795687  -103.413271     9
                  Lincoln County  33.740841  -105.449805     3
                                  37.634605  -114.863037     3
                                  38.993740  -103.507555     3
Name: Count, Length: 113, dtype: int64

In [20]:
casino = pd.read_csv("data/SARStats_6.csv")
casino.head()

,Year Month,State,Countym,Industry,Count
0,2014 January,Arizona,"Maricopa County, AZ",Casino/Card Club - Tribal Authorized Casino,17
1,2014 January,Arizona,"Maricopa County, AZ",[Total],17
2,2014 January,Arizona,"Pima County, AZ",Casino/Card Club - Tribal Authorized Casino,9
3,2014 January,Arizona,"Pima County, AZ",[Total],9
4,2014 January,Arizona,"Pinal County, AZ",Casino/Card Club - Tribal Authorized Casino,6

In [21]:
casino.dtypes

Year Month    object
State         object
Countym       object
Industry      object
Count         object
dtype: object

In [22]:
casino['Count'] = casino['Count'].str.replace(',', '').astype(float).astype(int)
casino.drop(casino.loc[casino['Industry']=='[Total]'].index, inplace=True)
casino['Countym'] = casino['Countym'].str.split('\,+').str[0]
casino['Industry'] = casino['Industry'].str.split('\-+').str[1]
casino['Year Month'] = casino['Year Month'].str.split('\ +').str[0]
casino

,Year Month,State,Countym,Industry,Count
0,2014,Arizona,Maricopa County,Tribal Authorized Casino,17
2,2014,Arizona,Pima County,Tribal Authorized Casino,9
4,2014,Arizona,Pinal County,Tribal Authorized Casino,6
6,2014,Arizona,Yavapai County,State Licensed Casino,1
8,2014,Arizona,Yuma County,Tribal Authorized Casino,1
...,...,...,...,...,...
6992,2019,New Mexico,Do√É¬±a Ana County,State Licensed Casino,2
6994,2019,New Mexico,Lea County,State Licensed Casino,1
6996,2019,New Mexico,Rio Arriba County,Tribal Authorized Casino,6
6998,2019,New Mexico,Santa Fe County,Tribal Authorized Casino,2
7001,2019,Utah,Summit County,Tribal Authorized Casino,1

In [23]:
casino.rename(columns={"Year Month": "Year"}, inplace=True)
casino.head()

   Year    State          Countym                   Industry  Count
0  2014  Arizona  Maricopa County   Tribal Authorized Casino     17
2  2014  Arizona      Pima County   Tribal Authorized Casino      9
4  2014  Arizona     Pinal County   Tribal Authorized Casino      6
6  2014  Arizona   Yavapai County      State Licensed Casino      1
8  2014  Arizona      Yuma County   Tribal Authorized Casino      1

In [24]:
casinos_df = pd.merge(casino, sw_county, on="Countym", how="inner")
casinos_df.head()

,Year,State,Countym,Industry,Count,USPS,Lat,Long
0,2014,Arizona,Maricopa County,Tribal Authorized Casino,17,AZ,33.345176,-112.49893
1,2014,Arizona,Maricopa County,Tribal Authorized Casino,13,AZ,33.345176,-112.49893
2,2014,Arizona,Maricopa County,Tribal Authorized Casino,8,AZ,33.345176,-112.49893
3,2014,Arizona,Maricopa County,Tribal Authorized Casino,13,AZ,33.345176,-112.49893
4,2014,Arizona,Maricopa County,Tribal Authorized Casino,15,AZ,33.345176,-112.49893

In [25]:
del casinos_df['USPS']
casinos_df['Industry'].unique()

array([' Tribal Authorized Casino', ' Card Club',
       ' State Licensed Casino', ' Other Casino/Card Club', nan],
      dtype=object)

In [26]:
tribal_df = casinos_df.loc[casinos_df["Industry"] == " Tribal Authorized Casino",:]
card_df = casinos_df.loc[casinos_df["Industry"] == " Card Club",:]
other_df = casinos_df.loc[casinos_df["Industry"] == " Other Casino/Card Club",:]
tribal_df.head()

,Year,State,Countym,Industry,Count,Lat,Long
0,2014,Arizona,Maricopa County,Tribal Authorized Casino,17,33.345176,-112.49893
1,2014,Arizona,Maricopa County,Tribal Authorized Casino,13,33.345176,-112.49893
2,2014,Arizona,Maricopa County,Tribal Authorized Casino,8,33.345176,-112.49893
3,2014,Arizona,Maricopa County,Tribal Authorized Casino,13,33.345176,-112.49893
4,2014,Arizona,Maricopa County,Tribal Authorized Casino,15,33.345176,-112.49893

In [27]:
tribal = tribal_df.groupby(['State', 'Year', 'Countym', 'Lat', 'Long'])['Count'].sum()
tribal

State    Year  Countym           Lat        Long
Arizona  2014  Coconino County   35.829692  -111.773728      3
               Maricopa County   33.345176  -112.498930    166
               Pima County       32.128043  -111.783657     36
               Pinal County      32.918521  -111.366340     49
               Yuma County       32.773942  -113.910905      3
                                                          ...
Utah     2019  Salt Lake County  40.667883  -111.924240     19
               Summit County     39.621023  -106.137555      4
                                 40.872060  -110.968486      4
               Utah County       40.120425  -111.668508      1
               Weber County      41.270325  -111.876883      1
Name: Count, Length: 382, dtype: int64

In [28]:
card_df.head()

,Year,State,Countym,Industry,Count,Lat,Long
58,2018,Arizona,Maricopa County,Card Club,1,33.345176,-112.498930
439,2014,California,Contra Costa County,Card Club,2,37.919479,-121.951543
441,2014,California,Contra Costa County,Card Club,4,37.919479,-121.951543
443,2014,California,Contra Costa County,Card Club,1,37.919479,-121.951543
445,2014,California,Contra Costa County,Card Club,3,37.919479,-121.951543

In [29]:
card_club = card_df.groupby(['State', 'Year', 'Countym', 'Lat', 'Long'])['Count'].sum()
card_club

State       Year  Countym              Lat        Long
Arizona     2018  Maricopa County      33.345176  -112.498930     1
California  2014  Alameda County       37.647139  -121.912488     1
                  Contra Costa County  37.919479  -121.951543    23
                  Fresno County        36.761006  -119.655019     2
                  Kern County          35.346629  -118.729506     5
                                                                 ..
            2019  Sonoma County        38.525182  -122.926110     7
                  Stanislaus County    37.562316  -121.002831     1
                  Ventura County       34.358741  -119.133143    29
Colorado    2014  Gilpin County        39.861156  -105.528878     1
Nevada      2015  Clark County         36.214257  -115.013812     1
Name: Count, Length: 92, dtype: int64

In [30]:
other_df.head()

,Year,State,Countym,Industry,Count,Lat,Long
540,2018,California,Contra Costa County,Other Casino/Card Club,1,37.919479,-121.951543
554,2018,California,Contra Costa County,Other Casino/Card Club,1,37.919479,-121.951543
967,2017,California,Los Angeles County,Other Casino/Card Club,1,34.196398,-118.261862
969,2017,California,Los Angeles County,Other Casino/Card Club,1,34.196398,-118.261862
971,2017,California,Los Angeles County,Other Casino/Card Club,1,34.196398,-118.261862

In [31]:
others = other_df.groupby(['State', 'Year', 'Countym', 'Lat', 'Long'])['Count'].sum()
others

State       Year  Countym               Lat        Long
California  2017  Los Angeles County    34.196398  -118.261862     5
                  San Diego County      33.023604  -116.776117     1
                  San Francisco County  37.727239  -123.032229     1
                  San Mateo County      37.414672  -122.371546     1
            2018  Alameda County        37.647139  -121.912488     1
                  Contra Costa County   37.919479  -121.951543     2
                  Los Angeles County    34.196398  -118.261862     1
                  San Mateo County      37.414672  -122.371546     2
Nevada      2014  Clark County          36.214257  -115.013812    60
            2015  Clark County          36.214257  -115.013812    36
            2016  Clark County          36.214257  -115.013812     2
            2017  Clark County          36.214257  -115.013812     1
New Mexico  2016  Sandoval County       35.685091  -106.883119     1
Name: Count, dtype: int64