In [1]:
# Dependencies
import pandas as pd

In [2]:
sw_casinos = pd.read_csv('data/SW_Casinos_SARStats.csv')
sw_countyloc = pd.read_csv('data/SW_countyloc.csv')
sw_casinos.head()

,Year Month,State,Countym,Industry,Suspicious Activity,Count
0,2014,Arizona,"Yavapai County, AZ",Casino/Card Club - State Licensed Casino,Alters or Cancels Transaction to Avoid CTR Req...,1
1,2014,Arizona,"Yavapai County, AZ",Casino/Card Club - State Licensed Casino,Changes Spelling or Arrangement of Name,1
2,2014,Arizona,"Yavapai County, AZ",Casino/Card Club - State Licensed Casino,Credit/Debit Card,1
3,2014,Arizona,"Yavapai County, AZ",Casino/Card Club - State Licensed Casino,Exchanges Small Bills for Large Bills or Vice ...,1
4,2014,Arizona,"Yavapai County, AZ",Casino/Card Club - State Licensed Casino,Minimal Gaming with Large Transactions,1

In [3]:
sw_casinos['Suspicious Activity'].value_counts()

[Total]                                                      155
Minimal Gaming with Large Transactions                        68
Refused or Avoided Request for Documentation                  63
Transaction(s) Below CTR Threshold                            59
Alters or Cancels Transaction to Avoid CTR Requirement        58
                                                            ...
Loan Modification Fraud                                        1
Other Insurance                                                1
Transaction(s) Involving Foreign High Risk Jurisdiction        1
Excessive or Unusal Cash Borrowing against Policy/Annuity      1
Insider Trading                                                1
Name: Suspicious Activity, Length: 85, dtype: int64

In [4]:
sw_casinos['Countym'] = sw_casinos['Countym'].str.split('\,+').str[0]
sw_casinos['Industry'] = sw_casinos['Industry'].str.split('\-+').str[1]

sw_casinos.head()

,Year Month,State,Countym,Industry,Suspicious Activity,Count
0,2014,Arizona,Yavapai County,State Licensed Casino,Alters or Cancels Transaction to Avoid CTR Req...,1
1,2014,Arizona,Yavapai County,State Licensed Casino,Changes Spelling or Arrangement of Name,1
2,2014,Arizona,Yavapai County,State Licensed Casino,Credit/Debit Card,1
3,2014,Arizona,Yavapai County,State Licensed Casino,Exchanges Small Bills for Large Bills or Vice ...,1
4,2014,Arizona,Yavapai County,State Licensed Casino,Minimal Gaming with Large Transactions,1

In [5]:
len(sw_casinos['Suspicious Activity'])

1843

In [6]:
sw_casinos.drop(sw_casinos.loc[sw_casinos['Suspicious Activity']=='[Total]'].index, inplace=True)
sw_casinos.drop(sw_casinos.loc[sw_casinos['Year Month']== '2020'].index, inplace=True)
del sw_casinos['Suspicious Activity']
sw_casinos.head()

  Year Month    State         Countym                Industry Count
0       2014  Arizona  Yavapai County   State Licensed Casino     1
1       2014  Arizona  Yavapai County   State Licensed Casino     1
2       2014  Arizona  Yavapai County   State Licensed Casino     1
3       2014  Arizona  Yavapai County   State Licensed Casino     1
4       2014  Arizona  Yavapai County   State Licensed Casino     1

In [7]:
sw_casinos.count()

Year Month    1548
State         1548
Countym       1548
Industry      1548
Count         1548
dtype: int64

In [8]:
sw_countyloc.head()

,USPS,GEOID,ANSICODE,NAME,Countym,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,AZ,4001,25441,Apache County,"Apache County, AZ",29002035366,54153162,11197.749,20.909,35.385084,-109.490172
1,AZ,4003,25442,Cochise County,"Cochise County, AZ",16083174724,17667961,6209.749,6.822,31.840129,-109.775163
2,AZ,4005,25443,Coconino County,"Coconino County, AZ",48217246133,116631412,18616.784,45.032,35.829692,-111.773728
3,AZ,4007,40471,Gila County,"Gila County, AZ",12323152721,97113523,4757.996,37.496,33.789618,-110.811870
4,AZ,4009,25444,Graham County,"Graham County, AZ",11970605964,47476264,4621.877,18.331,32.931828,-109.878310

In [9]:
sw_countyloc.dtypes

USPS                                                                                                                         object
GEOID                                                                                                                         int64
ANSICODE                                                                                                                      int64
NAME                                                                                                                         object
Countym                                                                                                                      object
ALAND                                                                                                                         int64
AWATER                                                                                                                        int64
ALAND_SQMI                                                                                                                  float64
AWATER_SQMI                                                                                                                 float64
INTPTLAT                                                                                                                    float64
INTPTLONG                                                                                                                   float64
dtype: object

In [10]:
sw_countyloc.drop(['GEOID', 'ANSICODE', 'Countym', 'ALAND', 'AWATER', 'ALAND_SQMI', 'AWATER_SQMI'], axis=1, inplace=True)

sw_countyloc.head()

,USPS,NAME,INTPTLAT,INTPTLONG
0,AZ,Apache County,35.385084,-109.490172
1,AZ,Cochise County,31.840129,-109.775163
2,AZ,Coconino County,35.829692,-111.773728
3,AZ,Gila County,33.789618,-110.811870
4,AZ,Graham County,32.931828,-109.878310

In [11]:
sw_countyloc.columns

Index(['USPS', 'NAME', 'INTPTLAT',
       'INTPTLONG                                                                                                               '],
      dtype='object')

In [12]:
sw_county = sw_countyloc.rename(columns={"NAME":"Countym", "INTPTLAT":"Lat", "INTPTLONG                                                                                                               ":"Long" })

sw_county.head()

  USPS          Countym        Lat        Long
0   AZ    Apache County  35.385084 -109.490172
1   AZ   Cochise County  31.840129 -109.775163
2   AZ  Coconino County  35.829692 -111.773728
3   AZ      Gila County  33.789618 -110.811870
4   AZ    Graham County  32.931828 -109.878310

In [13]:
sw_fincrime = pd.merge(sw_casinos, sw_county, on="Countym", how= "inner")
sw_fincrime.head()

,Year Month,State,Countym,Industry,Count,USPS,Lat,Long
0,2014,Arizona,Yavapai County,State Licensed Casino,1,AZ,34.631071,-112.577225
1,2014,Arizona,Yavapai County,State Licensed Casino,1,AZ,34.631071,-112.577225
2,2014,Arizona,Yavapai County,State Licensed Casino,1,AZ,34.631071,-112.577225
3,2014,Arizona,Yavapai County,State Licensed Casino,1,AZ,34.631071,-112.577225
4,2014,Arizona,Yavapai County,State Licensed Casino,1,AZ,34.631071,-112.577225

In [14]:

sw_fincrime['Count'] = sw_fincrime['Count'].str.replace(',', '').astype(float).astype(int)

In [15]:
del sw_fincrime['USPS']
sw_fincrime.rename(columns={"Year Month": "Year"}, inplace=True)
sw_fincrime.head()

,Year,State,Countym,Industry,Count,Lat,Long
0,2014,Arizona,Yavapai County,State Licensed Casino,1,34.631071,-112.577225
1,2014,Arizona,Yavapai County,State Licensed Casino,1,34.631071,-112.577225
2,2014,Arizona,Yavapai County,State Licensed Casino,1,34.631071,-112.577225
3,2014,Arizona,Yavapai County,State Licensed Casino,1,34.631071,-112.577225
4,2014,Arizona,Yavapai County,State Licensed Casino,1,34.631071,-112.577225

In [38]:
licensed_df = sw_fincrime.groupby(['State', 'Year', 'Countym', 'Lat', 'Long'])['Count'].sum().reset_index()
licensed_df.head()

     State  Year         Countym        Lat        Long  Count
0  Arizona  2014  Yavapai County  34.631071 -112.577225     14
1  Arizona  2015  Yavapai County  34.631071 -112.577225      8
2  Arizona  2016  Yavapai County  34.631071 -112.577225      2
3  Arizona  2018     Yuma County  32.773942 -113.910905      2
4  Arizona  2018     Yuma County  40.000770 -102.421649      2

In [40]:
type(licensed_df)

pandas.core.frame.DataFrame

In [39]:
licensed = pd.DataFrame(licensed_df)
licensed.head()

     State  Year         Countym        Lat        Long  Count
0  Arizona  2014  Yavapai County  34.631071 -112.577225     14
1  Arizona  2015  Yavapai County  34.631071 -112.577225      8
2  Arizona  2016  Yavapai County  34.631071 -112.577225      2
3  Arizona  2018     Yuma County  32.773942 -113.910905      2
4  Arizona  2018     Yuma County  40.000770 -102.421649      2

In [35]:
casino = pd.read_csv("data/SARStats_6.csv")
casino.head()

,Year Month,State,Countym,Industry,Count
0,2014 January,Arizona,"Maricopa County, AZ",Casino/Card Club - Tribal Authorized Casino,17
1,2014 January,Arizona,"Maricopa County, AZ",[Total],17
2,2014 January,Arizona,"Pima County, AZ",Casino/Card Club - Tribal Authorized Casino,9
3,2014 January,Arizona,"Pima County, AZ",[Total],9
4,2014 January,Arizona,"Pinal County, AZ",Casino/Card Club - Tribal Authorized Casino,6

In [36]:
casino.dtypes

Year Month    object
State         object
Countym       object
Industry      object
Count         object
dtype: object

In [37]:
casino['Count'] = casino['Count'].str.replace(',', '').astype(float).astype(int)
casino.drop(casino.loc[casino['Industry']=='[Total]'].index, inplace=True)
casino['Countym'] = casino['Countym'].str.split('\,+').str[0]
casino['Industry'] = casino['Industry'].str.split('\-+').str[1]
casino['Year Month'] = casino['Year Month'].str.split('\ +').str[0]
casino.head()

  Year Month    State          Countym                   Industry  Count
0       2014  Arizona  Maricopa County   Tribal Authorized Casino     17
2       2014  Arizona      Pima County   Tribal Authorized Casino      9
4       2014  Arizona     Pinal County   Tribal Authorized Casino      6
6       2014  Arizona   Yavapai County      State Licensed Casino      1
8       2014  Arizona      Yuma County   Tribal Authorized Casino      1

In [21]:
casino.rename(columns={"Year Month": "Year"}, inplace=True)
casino.head()

   Year    State          Countym                   Industry  Count
0  2014  Arizona  Maricopa County   Tribal Authorized Casino     17
2  2014  Arizona      Pima County   Tribal Authorized Casino      9
4  2014  Arizona     Pinal County   Tribal Authorized Casino      6
6  2014  Arizona   Yavapai County      State Licensed Casino      1
8  2014  Arizona      Yuma County   Tribal Authorized Casino      1

In [22]:
casinos_df = pd.merge(casino, sw_county, on="Countym", how="inner")
casinos_df.head()

,Year,State,Countym,Industry,Count,USPS,Lat,Long
0,2014,Arizona,Maricopa County,Tribal Authorized Casino,17,AZ,33.345176,-112.49893
1,2014,Arizona,Maricopa County,Tribal Authorized Casino,13,AZ,33.345176,-112.49893
2,2014,Arizona,Maricopa County,Tribal Authorized Casino,8,AZ,33.345176,-112.49893
3,2014,Arizona,Maricopa County,Tribal Authorized Casino,13,AZ,33.345176,-112.49893
4,2014,Arizona,Maricopa County,Tribal Authorized Casino,15,AZ,33.345176,-112.49893

In [23]:
del casinos_df['USPS']
casinos_df['Industry'].unique()

array([' Tribal Authorized Casino', ' Card Club',
       ' State Licensed Casino', ' Other Casino/Card Club', nan],
      dtype=object)

In [24]:
tribal_df = casinos_df.loc[casinos_df["Industry"] == " Tribal Authorized Casino",:]
card_df = casinos_df.loc[casinos_df["Industry"] == " Card Club",:]
other_df = casinos_df.loc[casinos_df["Industry"] == " Other Casino/Card Club",:]
tribal_df.head()

,Year,State,Countym,Industry,Count,Lat,Long
0,2014,Arizona,Maricopa County,Tribal Authorized Casino,17,33.345176,-112.49893
1,2014,Arizona,Maricopa County,Tribal Authorized Casino,13,33.345176,-112.49893
2,2014,Arizona,Maricopa County,Tribal Authorized Casino,8,33.345176,-112.49893
3,2014,Arizona,Maricopa County,Tribal Authorized Casino,13,33.345176,-112.49893
4,2014,Arizona,Maricopa County,Tribal Authorized Casino,15,33.345176,-112.49893

In [33]:
tribal = tribal_df.groupby(['State', 'Year', 'Countym', 'Lat', 'Long'])['Count'].sum().reset_index()
tribal.head()

     State  Year          Countym        Lat        Long  Count
0  Arizona  2014  Coconino County  35.829692 -111.773728      3
1  Arizona  2014  Maricopa County  33.345176 -112.498930    166
2  Arizona  2014      Pima County  32.128043 -111.783657     36
3  Arizona  2014     Pinal County  32.918521 -111.366340     49
4  Arizona  2014      Yuma County  32.773942 -113.910905      3

In [26]:
card_df.head()

,Year,State,Countym,Industry,Count,Lat,Long
58,2018,Arizona,Maricopa County,Card Club,1,33.345176,-112.498930
439,2014,California,Contra Costa County,Card Club,2,37.919479,-121.951543
441,2014,California,Contra Costa County,Card Club,4,37.919479,-121.951543
443,2014,California,Contra Costa County,Card Club,1,37.919479,-121.951543
445,2014,California,Contra Costa County,Card Club,3,37.919479,-121.951543

In [31]:
card_club = card_df.groupby(['State', 'Year', 'Countym', 'Lat', 'Long'])['Count'].sum().reset_index()
card_club.head()

        State  Year              Countym        Lat        Long  Count
0     Arizona  2018      Maricopa County  33.345176 -112.498930      1
1  California  2014       Alameda County  37.647139 -121.912488      1
2  California  2014  Contra Costa County  37.919479 -121.951543     23
3  California  2014        Fresno County  36.761006 -119.655019      2
4  California  2014          Kern County  35.346629 -118.729506      5

In [28]:
other_df.head()

,Year,State,Countym,Industry,Count,Lat,Long
540,2018,California,Contra Costa County,Other Casino/Card Club,1,37.919479,-121.951543
554,2018,California,Contra Costa County,Other Casino/Card Club,1,37.919479,-121.951543
967,2017,California,Los Angeles County,Other Casino/Card Club,1,34.196398,-118.261862
969,2017,California,Los Angeles County,Other Casino/Card Club,1,34.196398,-118.261862
971,2017,California,Los Angeles County,Other Casino/Card Club,1,34.196398,-118.261862

In [32]:
others = other_df.groupby(['State', 'Year', 'Countym', 'Lat', 'Long'])['Count'].sum().reset_index()
others.head()

        State  Year               Countym        Lat        Long  Count
0  California  2017    Los Angeles County  34.196398 -118.261862      5
1  California  2017      San Diego County  33.023604 -116.776117      1
2  California  2017  San Francisco County  37.727239 -123.032229      1
3  California  2017      San Mateo County  37.414672 -122.371546      1
4  California  2018        Alameda County  37.647139 -121.912488      1

In [41]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///SW_fincrime_db', echo=False)
sqlite_connection = engine.connect()

In [42]:
sqlite_table = "licensed"
licensed_df.to_sql(sqlite_table, sqlite_connection, if_exists='replace')

In [43]:
engine.execute("SELECT * FROM licensed").fetchall()

[(0, 'Arizona', '2014', 'Yavapai County', 34.631071, -112.577225, 14),
 (1, 'Arizona', '2015', 'Yavapai County', 34.631071, -112.577225, 8),
 (2, 'Arizona', '2016', 'Yavapai County', 34.631071, -112.577225, 2),
 (3, 'Arizona', '2018', 'Yuma County', 32.773942, -113.910905, 2),
 (4, 'Arizona', '2018', 'Yuma County', 40.00077, -102.421649, 2),
 (5, 'Arizona', '2019', 'Gila County', 33.789618, -110.81187, 3),
 (6, 'California', '2014', 'Los Angeles County', 34.196397999999995, -118.26186200000001, 3),
 (7, 'California', '2014', 'Riverside County', 33.729828000000005, -116.00223899999999, 9),
 (8, 'California', '2014', 'San Diego County', 33.023604, -116.776117, 217),
 (9, 'California', '2014', 'Tuolumne County', 38.021434, -119.96473300000001, 45),
 (10, 'California', '2014', 'Ventura County', 34.358740999999995, -119.13314299999999, 2),
 (11, 'California', '2015', 'Del Norte County', 41.763958, -124.00361399999998, 2),
 (12, 'California', '2015', 'Sacramento County', 38.450016, -121.340441, 57),
 (13, 'California', '2015', 'San Diego County', 33.023604, -116.776117, 701),
 (14, 'California', '2015', 'San Joaquin County', 37.934982, -121.272244, 5),
 (15, 'California', '2015', 'Tuolumne County', 38.021434, -119.96473300000001, 35),
 (16, 'California', '2016', 'Sacramento County', 38.450016, -121.340441, 63),
 (17, 'California', '2016', 'San Diego County', 33.023604, -116.776117, 642),
 (18, 'California', '2016', 'San Joaquin County', 37.934982, -121.272244, 9),
 (19, 'California', '2016', 'Santa Clara County', 37.220695, -121.69051, 2),
 (20, 'California', '2016', 'Tuolumne County', 38.021434, -119.96473300000001, 42),
 (21, 'California', '2017', 'Sacramento County', 38.450016, -121.340441, 93),
 (22, 'California', '2017', 'San Diego County', 33.023604, -116.776117, 286),
 (23, 'California', '2017', 'San Joaquin County', 37.934982, -121.272244, 4),
 (24, 'California', '2017', 'San Mateo County', 37.414671999999996, -122.371546, 4),
 (25, 'California', '2017', 'Tuolumne County', 38.021434, -119.96473300000001, 44),
 (26, 'California', '2018', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 2),
 (27, 'California', '2018', 'Los Angeles County', 34.196397999999995, -118.26186200000001, 2),
 (28, 'California', '2018', 'Riverside County', 33.729828000000005, -116.00223899999999, 2),
 (29, 'California', '2018', 'Sacramento County', 38.450016, -121.340441, 101),
 (30, 'California', '2018', 'Tuolumne County', 38.021434, -119.96473300000001, 37),
 (31, 'California', '2019', 'Alameda County', 37.647139, -121.91248799999998, 5),
 (32, 'California', '2019', 'Sacramento County', 38.450016, -121.340441, 105),
 (33, 'California', '2019', 'San Joaquin County', 37.934982, -121.272244, 40),
 (34, 'California', '2019', 'Santa Clara County', 37.220695, -121.69051, 3),
 (35, 'California', '2019', 'Tuolumne County', 38.021434, -119.96473300000001, 29),
 (36, 'Colorado', '2014', 'Gilpin County', 39.861156, -105.528878, 457),
 (37, 'Colorado', '2014', 'Teller County', 38.869976, -105.18736499999999, 5),
 (38, 'Colorado', '2015', 'Gilpin County', 39.861156, -105.528878, 520),
 (39, 'Colorado', '2015', 'Teller County', 38.869976, -105.18736499999999, 3),
 (40, 'Colorado', '2016', 'Gilpin County', 39.861156, -105.528878, 1677),
 (41, 'Colorado', '2016', 'Teller County', 38.869976, -105.18736499999999, 6),
 (42, 'Colorado', '2017', 'Gilpin County', 39.861156, -105.528878, 793),
 (43, 'Colorado', '2017', 'Teller County', 38.869976, -105.18736499999999, 52),
 (44, 'Colorado', '2018', 'Gilpin County', 39.861156, -105.528878, 969),
 (45, 'Colorado', '2018', 'Teller County', 38.869976, -105.18736499999999, 16),
 (46, 'Colorado', '2019', 'Gilpin County', 39.861156, -105.528878, 672),
 (47, 'Colorado', '2019', 'Jefferson County', 39.579511, -105.24546200000002, 3),
 (48, 'Colorado', '2019', 'Teller County', 38.869976, -105.18736499999999, 16),
 (49, 'Nevada', '2014', 'Carson City', 39.153059999999996, -119.747368, 2),
 (50, 'Nevada', '2014', 'Clark County', 36.214257, -115.01381200000002, 14601),
 (51, 'Nevada', '2014', 'Douglas County', 38.905128999999995, -119.60901899999999, 307),
 (52, 'Nevada', '2014', 'Douglas County', 39.325414, -104.925987, 307),
 (53, 'Nevada', '2014', 'Elko County', 41.141133, -115.351424, 30),
 (54, 'Nevada', '2014', 'Washoe County', 40.731320000000004, -119.663269, 281),
 (55, 'Nevada', '2015', 'Carson City', 39.153059999999996, -119.747368, 8),
 (56, 'Nevada', '2015', 'Clark County', 36.214257, -115.01381200000002, 16174),
 (57, 'Nevada', '2015', 'Douglas County', 38.905128999999995, -119.60901899999999, 335),
 (58, 'Nevada', '2015', 'Douglas County', 39.325414, -104.925987, 335),
 (59, 'Nevada', '2015', 'Elko County', 41.141133, -115.351424, 53),
 (60, 'Nevada', '2015', 'Washoe County', 40.731320000000004, -119.663269, 371),
 (61, 'Nevada', '2016', 'Carson City', 39.153059999999996, -119.747368, 1),
 (62, 'Nevada', '2016', 'Clark County', 36.214257, -115.01381200000002, 17718),
 (63, 'Nevada', '2016', 'Douglas County', 38.905128999999995, -119.60901899999999, 442),
 (64, 'Nevada', '2016', 'Douglas County', 39.325414, -104.925987, 442),
 (65, 'Nevada', '2016', 'Elko County', 41.141133, -115.351424, 136),
 (66, 'Nevada', '2016', 'Lyon County', 39.022213, -119.197425, 2),
 (67, 'Nevada', '2016', 'Washoe County', 40.731320000000004, -119.663269, 476),
 (68, 'Nevada', '2017', 'Carson City', 39.153059999999996, -119.747368, 1),
 (69, 'Nevada', '2017', 'Clark County', 36.214257, -115.01381200000002, 17755),
 (70, 'Nevada', '2017', 'Douglas County', 38.905128999999995, -119.60901899999999, 392),
 (71, 'Nevada', '2017', 'Douglas County', 39.325414, -104.925987, 392),
 (72, 'Nevada', '2017', 'Elko County', 41.141133, -115.351424, 142),
 (73, 'Nevada', '2017', 'Lyon County', 39.022213, -119.197425, 1),
 (74, 'Nevada', '2017', 'Nye County', 37.965864, -116.459011, 1),
 (75, 'Nevada', '2017', 'Washoe County', 40.731320000000004, -119.663269, 509),
 (76, 'Nevada', '2018', 'Clark County', 36.214257, -115.01381200000002, 15319),
 (77, 'Nevada', '2018', 'Douglas County', 38.905128999999995, -119.60901899999999, 537),
 (78, 'Nevada', '2018', 'Douglas County', 39.325414, -104.925987, 537),
 (79, 'Nevada', '2018', 'Elko County', 41.141133, -115.351424, 154),
 (80, 'Nevada', '2018', 'Humboldt County', 40.706655, -123.926176, 1),
 (81, 'Nevada', '2018', 'Humboldt County', 41.407914, -118.127591, 1),
 (82, 'Nevada', '2018', 'Lyon County', 39.022213, -119.197425, 7),
 (83, 'Nevada', '2018', 'Mineral County', 37.549067, -107.00323600000002, 2),
 (84, 'Nevada', '2018', 'Mineral County', 38.516647, -118.416279, 2),
 (85, 'Nevada', '2018', 'Nye County', 37.965864, -116.459011, 16),
 (86, 'Nevada', '2018', 'Washoe County', 40.731320000000004, -119.663269, 389),
 (87, 'Nevada', '2019', 'Carson City', 39.153059999999996, -119.747368, 1),
 (88, 'Nevada', '2019', 'Churchill County', 39.53771, -118.26416599999999, 3),
 (89, 'Nevada', '2019', 'Clark County', 36.214257, -115.01381200000002, 14098),
 (90, 'Nevada', '2019', 'Douglas County', 38.905128999999995, -119.60901899999999, 347),
 (91, 'Nevada', '2019', 'Douglas County', 39.325414, -104.925987, 347),
 (92, 'Nevada', '2019', 'Elko County', 41.141133, -115.351424, 89),
 (93, 'Nevada', '2019', 'Humboldt County', 40.706655, -123.926176, 9),
 (94, 'Nevada', '2019', 'Humboldt County', 41.407914, -118.127591, 9),
 (95, 'Nevada', '2019', 'Mineral County', 37.549067, -107.00323600000002, 7),
 (96, 'Nevada', '2019', 'Mineral County', 38.516647, -118.416279, 7),
 (97, 'Nevada', '2019', 'Nye County', 37.965864, -116.459011, 8),
 (98, 'Nevada', '2019', 'Washoe County', 40.731320000000004, -119.663269, 458),
 (99, 'New Mexico', '2015', 'Bernalillo County', 35.053628, -106.66908000000001, 2),
 (100, 'New Mexico', '2015', 'Lea County', 32.795687, -103.413271, 15),
 (101, 'New Mexico', '2017', 'Lea County', 32.795687, -103.413271, 5),
 (102, 'New Mexico', '2017', 'Lincoln County', 33.740840999999996, -105.449805, 1),
 (103, 'New Mexico', '2017', 'Lincoln County', 37.634605, -114.863037, 1),
 (104, 'New Mexico', '2017', 'Lincoln County', 38.99374, -103.50755500000001, 1),
 (105, 'New Mexico', '2018', 'Lea County', 32.795687, -103.413271, 4),
 (106, 'New Mexico', '2018', 'Lincoln County', 33.740840999999996, -105.449805, 2),
 (107, 'New Mexico', '2018', 'Lincoln County', 37.634605, -114.863037, 2),
 (108, 'New Mexico', '2018', 'Lincoln County', 38.99374, -103.50755500000001, 2),
 (109, 'New Mexico', '2019', 'Lea County', 32.795687, -103.413271, 9),
 (110, 'New Mexico', '2019', 'Lincoln County', 33.740840999999996, -105.449805, 3),
 (111, 'New Mexico', '2019', 'Lincoln County', 37.634605, -114.863037, 3),
 (112, 'New Mexico', '2019', 'Lincoln County', 38.99374, -103.50755500000001, 3)]

In [44]:
sqlite_table = "tribal"
tribal.to_sql(sqlite_table, sqlite_connection, if_exists='replace')

In [45]:
engine.execute("SELECT * FROM tribal").fetchall()

[(0, 'Arizona', '2014', 'Coconino County', 35.829692, -111.773728, 3),
 (1, 'Arizona', '2014', 'Maricopa County', 33.345176, -112.49893, 166),
 (2, 'Arizona', '2014', 'Pima County', 32.128043, -111.783657, 36),
 (3, 'Arizona', '2014', 'Pinal County', 32.918521000000005, -111.36634, 49),
 (4, 'Arizona', '2014', 'Yuma County', 32.773942, -113.910905, 3),
 (5, 'Arizona', '2014', 'Yuma County', 40.00077, -102.421649, 3),
 (6, 'Arizona', '2015', 'Gila County', 33.789618, -110.81187, 2),
 (7, 'Arizona', '2015', 'La Paz County', 33.72761, -114.03880600000001, 3),
 (8, 'Arizona', '2015', 'Maricopa County', 33.345176, -112.49893, 170),
 (9, 'Arizona', '2015', 'Pima County', 32.128043, -111.783657, 36),
 (10, 'Arizona', '2015', 'Pinal County', 32.918521000000005, -111.36634, 54),
 (11, 'Arizona', '2015', 'Yavapai County', 34.631071, -112.577225, 5),
 (12, 'Arizona', '2015', 'Yuma County', 32.773942, -113.910905, 6),
 (13, 'Arizona', '2015', 'Yuma County', 40.00077, -102.421649, 6),
 (14, 'Arizona', '2016', 'Coconino County', 35.829692, -111.773728, 8),
 (15, 'Arizona', '2016', 'Gila County', 33.789618, -110.81187, 3),
 (16, 'Arizona', '2016', 'Maricopa County', 33.345176, -112.49893, 171),
 (17, 'Arizona', '2016', 'Pima County', 32.128043, -111.783657, 38),
 (18, 'Arizona', '2016', 'Pinal County', 32.918521000000005, -111.36634, 92),
 (19, 'Arizona', '2016', 'Yavapai County', 34.631071, -112.577225, 18),
 (20, 'Arizona', '2016', 'Yuma County', 32.773942, -113.910905, 5),
 (21, 'Arizona', '2016', 'Yuma County', 40.00077, -102.421649, 5),
 (22, 'Arizona', '2017', 'Coconino County', 35.829692, -111.773728, 18),
 (23, 'Arizona', '2017', 'Gila County', 33.789618, -110.81187, 4),
 (24, 'Arizona', '2017', 'Maricopa County', 33.345176, -112.49893, 230),
 (25, 'Arizona', '2017', 'Pima County', 32.128043, -111.783657, 108),
 (26, 'Arizona', '2017', 'Pinal County', 32.918521000000005, -111.36634, 89),
 (27, 'Arizona', '2017', 'Yavapai County', 34.631071, -112.577225, 8),
 (28, 'Arizona', '2017', 'Yuma County', 32.773942, -113.910905, 4),
 (29, 'Arizona', '2017', 'Yuma County', 40.00077, -102.421649, 4),
 (30, 'Arizona', '2018', 'Cochise County', 31.840128999999997, -109.77516299999999, 2),
 (31, 'Arizona', '2018', 'Coconino County', 35.829692, -111.773728, 35),
 (32, 'Arizona', '2018', 'Gila County', 33.789618, -110.81187, 3),
 (33, 'Arizona', '2018', 'La Paz County', 33.72761, -114.03880600000001, 7),
 (34, 'Arizona', '2018', 'Maricopa County', 33.345176, -112.49893, 292),
 (35, 'Arizona', '2018', 'Mohave County', 35.717705, -113.74968899999999, 1),
 (36, 'Arizona', '2018', 'Navajo County', 35.390785, -110.321025, 75),
 (37, 'Arizona', '2018', 'Pima County', 32.128043, -111.783657, 247),
 (38, 'Arizona', '2018', 'Pinal County', 32.918521000000005, -111.36634, 84),
 (39, 'Arizona', '2018', 'Yavapai County', 34.631071, -112.577225, 4),
 (40, 'Arizona', '2018', 'Yuma County', 32.773942, -113.910905, 15),
 (41, 'Arizona', '2018', 'Yuma County', 40.00077, -102.421649, 15),
 (42, 'Arizona', '2019', 'Cochise County', 31.840128999999997, -109.77516299999999, 3),
 (43, 'Arizona', '2019', 'Coconino County', 35.829692, -111.773728, 43),
 (44, 'Arizona', '2019', 'Gila County', 33.789618, -110.81187, 4),
 (45, 'Arizona', '2019', 'La Paz County', 33.72761, -114.03880600000001, 34),
 (46, 'Arizona', '2019', 'Maricopa County', 33.345176, -112.49893, 1946),
 (47, 'Arizona', '2019', 'Mohave County', 35.717705, -113.74968899999999, 24),
 (48, 'Arizona', '2019', 'Navajo County', 35.390785, -110.321025, 46),
 (49, 'Arizona', '2019', 'Pima County', 32.128043, -111.783657, 255),
 (50, 'Arizona', '2019', 'Pinal County', 32.918521000000005, -111.36634, 196),
 (51, 'Arizona', '2019', 'Yavapai County', 34.631071, -112.577225, 16),
 (52, 'Arizona', '2019', 'Yuma County', 32.773942, -113.910905, 7),
 (53, 'Arizona', '2019', 'Yuma County', 40.00077, -102.421649, 7),
 (54, 'California', '2014', 'Amador County', 38.44355, -120.653856, 19),
 (55, 'California', '2014', 'Butte County', 39.665959, -121.601919, 47),
 (56, 'California', '2014', 'Colusa County', 39.177739, -122.237563, 3),
 (57, 'California', '2014', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 88),
 (58, 'California', '2014', 'Del Norte County', 41.763958, -124.00361399999998, 1),
 (59, 'California', '2014', 'El Dorado County', 38.785612, -120.534225, 14),
 (60, 'California', '2014', 'Humboldt County', 40.706655, -123.926176, 71),
 (61, 'California', '2014', 'Humboldt County', 41.407914, -118.127591, 71),
 (62, 'California', '2014', 'Imperial County', 33.040814000000005, -115.3554, 34),
 (63, 'California', '2014', 'Kings County', 36.072478000000004, -119.81553000000001, 12),
 (64, 'California', '2014', 'Lake County', 39.094802, -122.746757, 8),
 (65, 'California', '2014', 'Lake County', 39.205341, -106.35007900000001, 8),
 (66, 'California', '2014', 'Lassen County', 40.721086, -120.629952, 2),
 (67, 'California', '2014', 'Madera County', 37.209821000000005, -119.749802, 33),
 (68, 'California', '2014', 'Orange County', 33.675686999999996, -117.777207, 1),
 (69, 'California', '2014', 'Placer County', 39.062032, -120.722718, 42),
 (70, 'California', '2014', 'Riverside County', 33.729828000000005, -116.00223899999999, 131),
 (71, 'California', '2014', 'San Bernardino County', 34.85722, -116.181197, 817),
 (72, 'California', '2014', 'San Diego County', 33.023604, -116.776117, 161),
 (73, 'California', '2014', 'Santa Barbara County', 34.537057, -120.039973, 61),
 (74, 'California', '2014', 'Santa Clara County', 37.220695, -121.69051, 1),
 (75, 'California', '2014', 'Shasta County', 40.760514, -122.04355600000001, 7),
 (76, 'California', '2014', 'Sonoma County', 38.525182, -122.92611000000001, 311),
 (77, 'California', '2014', 'Tehama County', 40.126157, -122.232274, 23),
 (78, 'California', '2014', 'Tulare County', 36.228834, -118.78105500000001, 27),
 (79, 'California', '2014', 'Yolo County', 38.679596000000004, -121.902441, 101),
 (80, 'California', '2015', 'Amador County', 38.44355, -120.653856, 10),
 (81, 'California', '2015', 'Butte County', 39.665959, -121.601919, 74),
 (82, 'California', '2015', 'Colusa County', 39.177739, -122.237563, 4),
 (83, 'California', '2015', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 264),
 (84, 'California', '2015', 'Del Norte County', 41.763958, -124.00361399999998, 4),
 (85, 'California', '2015', 'El Dorado County', 38.785612, -120.534225, 19),
 (86, 'California', '2015', 'Humboldt County', 40.706655, -123.926176, 247),
 (87, 'California', '2015', 'Humboldt County', 41.407914, -118.127591, 247),
 (88, 'California', '2015', 'Imperial County', 33.040814000000005, -115.3554, 7),
 (89, 'California', '2015', 'Kings County', 36.072478000000004, -119.81553000000001, 28),
 (90, 'California', '2015', 'Lake County', 39.094802, -122.746757, 3),
 (91, 'California', '2015', 'Lake County', 39.205341, -106.35007900000001, 3),
 (92, 'California', '2015', 'Lassen County', 40.721086, -120.629952, 3),
 (93, 'California', '2015', 'Madera County', 37.209821000000005, -119.749802, 65),
 (94, 'California', '2015', 'Mendocino County', 39.432388, -123.442881, 1),
 (95, 'California', '2015', 'Placer County', 39.062032, -120.722718, 60),
 (96, 'California', '2015', 'Riverside County', 33.729828000000005, -116.00223899999999, 307),
 (97, 'California', '2015', 'San Bernardino County', 34.85722, -116.181197, 886),
 (98, 'California', '2015', 'San Diego County', 33.023604, -116.776117, 183),
 (99, 'California', '2015', 'San Mateo County', 37.414671999999996, -122.371546, 1),
 (100, 'California', '2015', 'Santa Barbara County', 34.537057, -120.039973, 47),
 (101, 'California', '2015', 'Shasta County', 40.760514, -122.04355600000001, 2),
 (102, 'California', '2015', 'Sonoma County', 38.525182, -122.92611000000001, 269),
 (103, 'California', '2015', 'Tehama County', 40.126157, -122.232274, 36),
 (104, 'California', '2015', 'Tulare County', 36.228834, -118.78105500000001, 90),
 (105, 'California', '2015', 'Yolo County', 38.679596000000004, -121.902441, 66),
 (106, 'California', '2016', 'Amador County', 38.44355, -120.653856, 13),
 (107, 'California', '2016', 'Butte County', 39.665959, -121.601919, 68),
 (108, 'California', '2016', 'Colusa County', 39.177739, -122.237563, 8),
 (109, 'California', '2016', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 348),
 (110, 'California', '2016', 'Del Norte County', 41.763958, -124.00361399999998, 4),
 (111, 'California', '2016', 'El Dorado County', 38.785612, -120.534225, 42),
 (112, 'California', '2016', 'Humboldt County', 40.706655, -123.926176, 169),
 (113, 'California', '2016', 'Humboldt County', 41.407914, -118.127591, 169),
 (114, 'California', '2016', 'Imperial County', 33.040814000000005, -115.3554, 8),
 (115, 'California', '2016', 'Kings County', 36.072478000000004, -119.81553000000001, 39),
 (116, 'California', '2016', 'Lake County', 39.094802, -122.746757, 13),
 (117, 'California', '2016', 'Lake County', 39.205341, -106.35007900000001, 13),
 (118, 'California', '2016', 'Madera County', 37.209821000000005, -119.749802, 132),
 (119, 'California', '2016', 'Mendocino County', 39.432388, -123.442881, 4),
 (120, 'California', '2016', 'Modoc County', 41.592918, -120.71837, 2),
 (121, 'California', '2016', 'Placer County', 39.062032, -120.722718, 125),
 (122, 'California', '2016', 'Riverside County', 33.729828000000005, -116.00223899999999, 512),
 (123, 'California', '2016', 'San Bernardino County', 34.85722, -116.181197, 704),
 (124, 'California', '2016', 'San Diego County', 33.023604, -116.776117, 300),
 (125, 'California', '2016', 'Santa Barbara County', 34.537057, -120.039973, 57),
 (126, 'California', '2016', 'Shasta County', 40.760514, -122.04355600000001, 8),
 (127, 'California', '2016', 'Sonoma County', 38.525182, -122.92611000000001, 248),
 (128, 'California', '2016', 'Tehama County', 40.126157, -122.232274, 32),
 (129, 'California', '2016', 'Tulare County', 36.228834, -118.78105500000001, 151),
 (130, 'California', '2016', 'Yolo County', 38.679596000000004, -121.902441, 141),
 (131, 'California', '2017', 'Amador County', 38.44355, -120.653856, 16),
 (132, 'California', '2017', 'Butte County', 39.665959, -121.601919, 106),
 (133, 'California', '2017', 'Colusa County', 39.177739, -122.237563, 10),
 (134, 'California', '2017', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 349),
 (135, 'California', '2017', 'Del Norte County', 41.763958, -124.00361399999998, 4),
 (136, 'California', '2017', 'El Dorado County', 38.785612, -120.534225, 78),
 (137, 'California', '2017', 'Fresno County', 36.761006, -119.655019, 2),
 (138, 'California', '2017', 'Humboldt County', 40.706655, -123.926176, 116),
 (139, 'California', '2017', 'Humboldt County', 41.407914, -118.127591, 116),
 (140, 'California', '2017', 'Imperial County', 33.040814000000005, -115.3554, 5),
 (141, 'California', '2017', 'Kings County', 36.072478000000004, -119.81553000000001, 30),
 (142, 'California', '2017', 'Lake County', 39.094802, -122.746757, 11),
 (143, 'California', '2017', 'Lake County', 39.205341, -106.35007900000001, 11),
 (144, 'California', '2017', 'Lassen County', 40.721086, -120.629952, 10),
 (145, 'California', '2017', 'Madera County', 37.209821000000005, -119.749802, 176),
 (146, 'California', '2017', 'Mono County', 37.915836, -118.87516699999999, 3),
 (147, 'California', '2017', 'Placer County', 39.062032, -120.722718, 61),
 (148, 'California', '2017', 'Riverside County', 33.729828000000005, -116.00223899999999, 775),
 (149, 'California', '2017', 'San Bernardino County', 34.85722, -116.181197, 517),
 (150, 'California', '2017', 'San Diego County', 33.023604, -116.776117, 380),
 (151, 'California', '2017', 'San Mateo County', 37.414671999999996, -122.371546, 1),
 (152, 'California', '2017', 'Santa Barbara County', 34.537057, -120.039973, 47),
 (153, 'California', '2017', 'Shasta County', 40.760514, -122.04355600000001, 19),
 (154, 'California', '2017', 'Sonoma County', 38.525182, -122.92611000000001, 240),
 (155, 'California', '2017', 'Tehama County', 40.126157, -122.232274, 22),
 (156, 'California', '2017', 'Tulare County', 36.228834, -118.78105500000001, 159),
 (157, 'California', '2017', 'Tuolumne County', 38.021434, -119.96473300000001, 6),
 (158, 'California', '2017', 'Yolo County', 38.679596000000004, -121.902441, 151),
 (159, 'California', '2018', 'Alameda County', 37.647139, -121.91248799999998, 1),
 (160, 'California', '2018', 'Amador County', 38.44355, -120.653856, 23),
 (161, 'California', '2018', 'Butte County', 39.665959, -121.601919, 119),
 (162, 'California', '2018', 'Colusa County', 39.177739, -122.237563, 7),
 (163, 'California', '2018', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 421),
 (164, 'California', '2018', 'Del Norte County', 41.763958, -124.00361399999998, 17),
 (165, 'California', '2018', 'El Dorado County', 38.785612, -120.534225, 73),
 (166, 'California', '2018', 'Fresno County', 36.761006, -119.655019, 10),
 (167, 'California', '2018', 'Humboldt County', 40.706655, -123.926176, 103),
 (168, 'California', '2018', 'Humboldt County', 41.407914, -118.127591, 103),
 (169, 'California', '2018', 'Imperial County', 33.040814000000005, -115.3554, 7),
 (170, 'California', '2018', 'Kern County', 35.346629, -118.729506, 4),
 (171, 'California', '2018', 'Kings County', 36.072478000000004, -119.81553000000001, 47),
 (172, 'California', '2018', 'Lake County', 39.094802, -122.746757, 49),
 (173, 'California', '2018', 'Lake County', 39.205341, -106.35007900000001, 49),
 (174, 'California', '2018', 'Lassen County', 40.721086, -120.629952, 2),
 (175, 'California', '2018', 'Los Angeles County', 34.196397999999995, -118.26186200000001, 31),
 (176, 'California', '2018', 'Madera County', 37.209821000000005, -119.749802, 156),
 (177, 'California', '2018', 'Mendocino County', 39.432388, -123.442881, 1),
 (178, 'California', '2018', 'Merced County', 37.194806, -120.722802, 1),
 (179, 'California', '2018', 'Mono County', 37.915836, -118.87516699999999, 2),
 (180, 'California', '2018', 'Monterey County', 36.240107, -121.315572, 1),
 (181, 'California', '2018', 'Orange County', 33.675686999999996, -117.777207, 2),
 (182, 'California', '2018', 'Placer County', 39.062032, -120.722718, 52),
 (183, 'California', '2018', 'Riverside County', 33.729828000000005, -116.00223899999999, 528),
 (184, 'California', '2018', 'Sacramento County', 38.450016, -121.340441, 3),
 (185, 'California', '2018', 'San Bernardino County', 34.85722, -116.181197, 463),
 (186, 'California', '2018', 'San Diego County', 33.023604, -116.776117, 612),
 (187, 'California', '2018', 'San Francisco County', 37.727239000000004, -123.032229, 2),
 (188, 'California', '2018', 'Santa Barbara County', 34.537057, -120.039973, 41),
 (189, 'California', '2018', 'Shasta County', 40.760514, -122.04355600000001, 11),
 (190, 'California', '2018', 'Solano County', 38.267226, -121.939594, 1),
 (191, 'California', '2018', 'Sonoma County', 38.525182, -122.92611000000001, 364),
 (192, 'California', '2018', 'Stanislaus County', 37.562315999999996, -121.002831, 1),
 (193, 'California', '2018', 'Sutter County', 39.036190000000005, -121.70393999999999, 1),
 (194, 'California', '2018', 'Tehama County', 40.126157, -122.232274, 17),
 (195, 'California', '2018', 'Tulare County', 36.228834, -118.78105500000001, 329),
 (196, 'California', '2018', 'Tuolumne County', 38.021434, -119.96473300000001, 1),
 (197, 'California', '2018', 'Ventura County', 34.358740999999995, -119.13314299999999, 3),
 (198, 'California', '2018', 'Yolo County', 38.679596000000004, -121.902441, 179),
 (199, 'California', '2019', 'Alameda County', 37.647139, -121.91248799999998, 23),
 (200, 'California', '2019', 'Amador County', 38.44355, -120.653856, 18),
 (201, 'California', '2019', 'Butte County', 39.665959, -121.601919, 128),
 (202, 'California', '2019', 'Colusa County', 39.177739, -122.237563, 9),
 (203, 'California', '2019', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 444),
 (204, 'California', '2019', 'Del Norte County', 41.763958, -124.00361399999998, 22),
 (205, 'California', '2019', 'El Dorado County', 38.785612, -120.534225, 147),
 (206, 'California', '2019', 'Fresno County', 36.761006, -119.655019, 17),
 (207, 'California', '2019', 'Glenn County', 39.602546000000004, -122.4017, 1),
 (208, 'California', '2019', 'Humboldt County', 40.706655, -123.926176, 138),
 (209, 'California', '2019', 'Humboldt County', 41.407914, -118.127591, 138),
 (210, 'California', '2019', 'Imperial County', 33.040814000000005, -115.3554, 7),
 (211, 'California', '2019', 'Kern County', 35.346629, -118.729506, 9),
 (212, 'California', '2019', 'Kings County', 36.072478000000004, -119.81553000000001, 31),
 (213, 'California', '2019', 'Lake County', 39.094802, -122.746757, 38),
 (214, 'California', '2019', 'Lake County', 39.205341, -106.35007900000001, 38),
 (215, 'California', '2019', 'Lassen County', 40.721086, -120.629952, 2),
 (216, 'California', '2019', 'Los Angeles County', 34.196397999999995, -118.26186200000001, 294),
 (217, 'California', '2019', 'Madera County', 37.209821000000005, -119.749802, 177),
 (218, 'California', '2019', 'Mendocino County', 39.432388, -123.442881, 3),
 (219, 'California', '2019', 'Merced County', 37.194806, -120.722802, 2),
 (220, 'California', '2019', 'Modoc County', 41.592918, -120.71837, 1),
 (221, 'California', '2019', 'Mono County', 37.915836, -118.87516699999999, 1),
 (222, 'California', '2019', 'Monterey County', 36.240107, -121.315572, 8),
 (223, 'California', '2019', 'Napa County', 38.5071, -122.32590400000001, 1),
 (224, 'California', '2019', 'Orange County', 33.675686999999996, -117.777207, 7),
 (225, 'California', '2019', 'Placer County', 39.062032, -120.722718, 54),
 (226, 'California', '2019', 'Riverside County', 33.729828000000005, -116.00223899999999, 654),
 (227, 'California', '2019', 'Sacramento County', 38.450016, -121.340441, 15),
 (228, 'California', '2019', 'San Bernardino County', 34.85722, -116.181197, 349),
 (229, 'California', '2019', 'San Diego County', 33.023604, -116.776117, 766),
 (230, 'California', '2019', 'San Francisco County', 37.727239000000004, -123.032229, 11),
 (231, 'California', '2019', 'San Joaquin County', 37.934982, -121.272244, 6),
 (232, 'California', '2019', 'San Luis Obispo County', 35.385224, -120.447544, 1),
 (233, 'California', '2019', 'San Mateo County', 37.414671999999996, -122.371546, 7),
 (234, 'California', '2019', 'Santa Barbara County', 34.537057, -120.039973, 90),
 (235, 'California', '2019', 'Santa Clara County', 37.220695, -121.69051, 3),
 (236, 'California', '2019', 'Santa Cruz County', 31.525733000000002, -110.845228, 1),
 (237, 'California', '2019', 'Santa Cruz County', 37.012488, -122.007205, 1),
 (238, 'California', '2019', 'Shasta County', 40.760514, -122.04355600000001, 15),
 (239, 'California', '2019', 'Siskiyou County', 41.587986, -122.53328700000002, 2),
 (240, 'California', '2019', 'Solano County', 38.267226, -121.939594, 1),
 (241, 'California', '2019', 'Sonoma County', 38.525182, -122.92611000000001, 340),
 (242, 'California', '2019', 'Stanislaus County', 37.562315999999996, -121.002831, 3),
 (243, 'California', '2019', 'Sutter County', 39.036190000000005, -121.70393999999999, 1),
 (244, 'California', '2019', 'Tehama County', 40.126157, -122.232274, 27),
 (245, 'California', '2019', 'Tulare County', 36.228834, -118.78105500000001, 391),
 (246, 'California', '2019', 'Tuolumne County', 38.021434, -119.96473300000001, 53),
 (247, 'California', '2019', 'Ventura County', 34.358740999999995, -119.13314299999999, 5),
 (248, 'California', '2019', 'Yolo County', 38.679596000000004, -121.902441, 207),
 (249, 'California', '2019', 'Yuba County', 39.27013, -121.34425900000001, 4),
 (250, 'Colorado', '2014', 'La Plata County', 37.287366999999996, -107.83971799999999, 2),
 (251, 'Colorado', '2015', 'La Plata County', 37.287366999999996, -107.83971799999999, 2),

In [46]:
sqlite_table = "card_club"
card_club.to_sql(sqlite_table, sqlite_connection, if_exists='replace')

In [47]:
engine.execute("SELECT * FROM card_club").fetchall()

[(0, 'Arizona', '2018', 'Maricopa County', 33.345176, -112.49893, 1),
 (1, 'California', '2014', 'Alameda County', 37.647139, -121.91248799999998, 1),
 (2, 'California', '2014', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 23),
 (3, 'California', '2014', 'Fresno County', 36.761006, -119.655019, 2),
 (4, 'California', '2014', 'Kern County', 35.346629, -118.729506, 5),
 (5, 'California', '2014', 'Los Angeles County', 34.196397999999995, -118.26186200000001, 1490),
 (6, 'California', '2014', 'Napa County', 38.5071, -122.32590400000001, 4),
 (7, 'California', '2014', 'Sacramento County', 38.450016, -121.340441, 4),
 (8, 'California', '2014', 'San Diego County', 33.023604, -116.776117, 3),
 (9, 'California', '2014', 'San Mateo County', 37.414671999999996, -122.371546, 54),
 (10, 'California', '2014', 'Santa Clara County', 37.220695, -121.69051, 153),
 (11, 'California', '2014', 'Sonoma County', 38.525182, -122.92611000000001, 2),
 (12, 'California', '2014', 'Stanislaus County', 37.562315999999996, -121.002831, 1),
 (13, 'California', '2014', 'Ventura County', 34.358740999999995, -119.13314299999999, 2),
 (14, 'California', '2015', 'Alameda County', 37.647139, -121.91248799999998, 9),
 (15, 'California', '2015', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 44),
 (16, 'California', '2015', 'Fresno County', 36.761006, -119.655019, 9),
 (17, 'California', '2015', 'Kern County', 35.346629, -118.729506, 5),
 (18, 'California', '2015', 'Los Angeles County', 34.196397999999995, -118.26186200000001, 1596),
 (19, 'California', '2015', 'Napa County', 38.5071, -122.32590400000001, 9),
 (20, 'California', '2015', 'Sacramento County', 38.450016, -121.340441, 8),
 (21, 'California', '2015', 'San Diego County', 33.023604, -116.776117, 4),
 (22, 'California', '2015', 'San Joaquin County', 37.934982, -121.272244, 1),
 (23, 'California', '2015', 'San Mateo County', 37.414671999999996, -122.371546, 135),
 (24, 'California', '2015', 'Santa Clara County', 37.220695, -121.69051, 135),
 (25, 'California', '2015', 'Sonoma County', 38.525182, -122.92611000000001, 3),
 (26, 'California', '2015', 'Stanislaus County', 37.562315999999996, -121.002831, 3),
 (27, 'California', '2015', 'Ventura County', 34.358740999999995, -119.13314299999999, 4),
 (28, 'California', '2016', 'Alameda County', 37.647139, -121.91248799999998, 11),
 (29, 'California', '2016', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 84),
 (30, 'California', '2016', 'Fresno County', 36.761006, -119.655019, 8),
 (31, 'California', '2016', 'Kern County', 35.346629, -118.729506, 42),
 (32, 'California', '2016', 'Los Angeles County', 34.196397999999995, -118.26186200000001, 1582),
 (33, 'California', '2016', 'Orange County', 33.675686999999996, -117.777207, 1),
 (34, 'California', '2016', 'Sacramento County', 38.450016, -121.340441, 10),
 (35, 'California', '2016', 'San Diego County', 33.023604, -116.776117, 8),
 (36, 'California', '2016', 'San Joaquin County', 37.934982, -121.272244, 11),
 (37, 'California', '2016', 'San Mateo County', 37.414671999999996, -122.371546, 171),
 (38, 'California', '2016', 'Santa Clara County', 37.220695, -121.69051, 185),
 (39, 'California', '2016', 'Sonoma County', 38.525182, -122.92611000000001, 10),
 (40, 'California', '2016', 'Stanislaus County', 37.562315999999996, -121.002831, 2),
 (41, 'California', '2016', 'Ventura County', 34.358740999999995, -119.13314299999999, 89),
 (42, 'California', '2017', 'Alameda County', 37.647139, -121.91248799999998, 36),
 (43, 'California', '2017', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 86),
 (44, 'California', '2017', 'Fresno County', 36.761006, -119.655019, 8),
 (45, 'California', '2017', 'Kern County', 35.346629, -118.729506, 29),
 (46, 'California', '2017', 'Los Angeles County', 34.196397999999995, -118.26186200000001, 1045),
 (47, 'California', '2017', 'Monterey County', 36.240107, -121.315572, 2),
 (48, 'California', '2017', 'Napa County', 38.5071, -122.32590400000001, 3),
 (49, 'California', '2017', 'Orange County', 33.675686999999996, -117.777207, 1),
 (50, 'California', '2017', 'Riverside County', 33.729828000000005, -116.00223899999999, 5),
 (51, 'California', '2017', 'Sacramento County', 38.450016, -121.340441, 40),
 (52, 'California', '2017', 'San Diego County', 33.023604, -116.776117, 75),
 (53, 'California', '2017', 'San Joaquin County', 37.934982, -121.272244, 32),
 (54, 'California', '2017', 'San Mateo County', 37.414671999999996, -122.371546, 179),
 (55, 'California', '2017', 'Santa Clara County', 37.220695, -121.69051, 235),
 (56, 'California', '2017', 'Sonoma County', 38.525182, -122.92611000000001, 10),
 (57, 'California', '2017', 'Stanislaus County', 37.562315999999996, -121.002831, 3),
 (58, 'California', '2017', 'Ventura County', 34.358740999999995, -119.13314299999999, 115),
 (59, 'California', '2018', 'Alameda County', 37.647139, -121.91248799999998, 29),
 (60, 'California', '2018', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 102),
 (61, 'California', '2018', 'Fresno County', 36.761006, -119.655019, 23),
 (62, 'California', '2018', 'Kern County', 35.346629, -118.729506, 14),
 (63, 'California', '2018', 'Los Angeles County', 34.196397999999995, -118.26186200000001, 943),
 (64, 'California', '2018', 'Monterey County', 36.240107, -121.315572, 2),
 (65, 'California', '2018', 'Riverside County', 33.729828000000005, -116.00223899999999, 7),
 (66, 'California', '2018', 'Sacramento County', 38.450016, -121.340441, 104),
 (67, 'California', '2018', 'San Diego County', 33.023604, -116.776117, 72),
 (68, 'California', '2018', 'San Joaquin County', 37.934982, -121.272244, 24),
 (69, 'California', '2018', 'San Mateo County', 37.414671999999996, -122.371546, 184),
 (70, 'California', '2018', 'Santa Clara County', 37.220695, -121.69051, 220),
 (71, 'California', '2018', 'Solano County', 38.267226, -121.939594, 1),
 (72, 'California', '2018', 'Sonoma County', 38.525182, -122.92611000000001, 17),
 (73, 'California', '2018', 'Stanislaus County', 37.562315999999996, -121.002831, 3),
 (74, 'California', '2018', 'Ventura County', 34.358740999999995, -119.13314299999999, 38),
 (75, 'California', '2019', 'Alameda County', 37.647139, -121.91248799999998, 49),
 (76, 'California', '2019', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 111),
 (77, 'California', '2019', 'Fresno County', 36.761006, -119.655019, 2),
 (78, 'California', '2019', 'Kern County', 35.346629, -118.729506, 11),
 (79, 'California', '2019', 'Los Angeles County', 34.196397999999995, -118.26186200000001, 787),
 (80, 'California', '2019', 'Marin County', 38.051817, -122.745974, 1),
 (81, 'California', '2019', 'Riverside County', 33.729828000000005, -116.00223899999999, 7),
 (82, 'California', '2019', 'Sacramento County', 38.450016, -121.340441, 124),
 (83, 'California', '2019', 'San Diego County', 33.023604, -116.776117, 41),
 (84, 'California', '2019', 'San Joaquin County', 37.934982, -121.272244, 30),
 (85, 'California', '2019', 'San Mateo County', 37.414671999999996, -122.371546, 434),
 (86, 'California', '2019', 'Santa Clara County', 37.220695, -121.69051, 441),
 (87, 'California', '2019', 'Sonoma County', 38.525182, -122.92611000000001, 7),
 (88, 'California', '2019', 'Stanislaus County', 37.562315999999996, -121.002831, 1),
 (89, 'California', '2019', 'Ventura County', 34.358740999999995, -119.13314299999999, 29),
 (90, 'Colorado', '2014', 'Gilpin County', 39.861156, -105.528878, 1),
 (91, 'Nevada', '2015', 'Clark County', 36.214257, -115.01381200000002, 1)]

In [48]:
sqlite_table = "others"
others.to_sql(sqlite_table, sqlite_connection, if_exists='replace')

In [49]:
engine.execute("SELECT * FROM others").fetchall()

[(0, 'California', '2017', 'Los Angeles County', 34.196397999999995, -118.26186200000001, 5),
 (1, 'California', '2017', 'San Diego County', 33.023604, -116.776117, 1),
 (2, 'California', '2017', 'San Francisco County', 37.727239000000004, -123.032229, 1),
 (3, 'California', '2017', 'San Mateo County', 37.414671999999996, -122.371546, 1),
 (4, 'California', '2018', 'Alameda County', 37.647139, -121.91248799999998, 1),
 (5, 'California', '2018', 'Contra Costa County', 37.919478999999995, -121.95154299999999, 2),
 (6, 'California', '2018', 'Los Angeles County', 34.196397999999995, -118.26186200000001, 1),
 (7, 'California', '2018', 'San Mateo County', 37.414671999999996, -122.371546, 2),
 (8, 'Nevada', '2014', 'Clark County', 36.214257, -115.01381200000002, 60),
 (9, 'Nevada', '2015', 'Clark County', 36.214257, -115.01381200000002, 36),
 (10, 'Nevada', '2016', 'Clark County', 36.214257, -115.01381200000002, 2),
 (11, 'Nevada', '2017', 'Clark County', 36.214257, -115.01381200000002, 1),
 (12, 'New Mexico', '2016', 'Sandoval County', 35.685091, -106.883119, 1)]

In [ ]:
Sus